@font-face {
  font-family: "RoadRaceStamp";
  src: url("./fonts/roadrace-stamp.otf") format("opentype");
}

h1 {
  font-family: "RoadRaceStamp", sans-serif;
  color: #000;
  font-size: 180px;
  margin-top: 200px;
  margin-bottom: 0;
  white-space: nowrap;

  text-shadow:
    0 0 30px rgba(255, 255, 255, 0.8),
    0 0 30px rgba(255, 255, 255, 0.6),
    0 0 40px rgba(255, 255, 255, 0.4);
}

/* IMAGEN FONDO */
body {
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  );
  background-image: url("/Imagenes/ruidoblanco3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}

.div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}
p {
  font-size: 40px;
  font-family: "Rubik Dirt", system-ui;
  margin-top: 20px;
  margin-bottom: 50px;
  text-shadow: 20px 20px 80px rgba(255, 255, 255, 0.8);
}

#btnEntrar {
  width: 120px;
  height: 100px;
  background-color: black;
  color: white;
  border-radius: 30%;
  margin-bottom: 100px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  cursor: pointer;
}

#btnEntrar:hover {
  background: radial-gradient(
    circle,
    white 0%,
    white 35%,
    lightgray 60%,
    gray 80%,
    black 100%
  );

  color: black;
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

#btnEntrar:active {
  background: radial-gradient(
    circle,
    white 0%,
    white 55%,
    #d9d9d9 75%,
    #808080 90%,
    black 100%
  );

  color: rgb(94, 94, 94);
}

/*REPRODUCTOR*/
#reproductor {
  position: fixed; /* queda fijo en pantalla */
  top: 20px; /* margen superior */
  left: 20px; /* margen izquierdo */

  display: flex;
  flex-direction: column; /* elementos uno debajo del otro */
  align-items: flex-start;
  gap: 1px; /* separación entre elementos */

  z-index: 1000;
}
#btn-play {
}
