@font-face {
  font-family: "RoadRaceStamp";
  src: url("./fonts/roadrace-stamp.otf") format("opentype");
}

body {
  background-image: url(/Imagenes/fondoDePagina.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* NAVBAR */

.navbar-scroll {
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: transform 0.4s ease-in-out;
}

.colorBase {
  background-color: #dcbd81;
  border: solid #4f3926;
}

.controlLargoBuscador {
  width: 100%;
  min-width: 400px;
}
@media (max-width: 992px) {
  .d-flex.mx-auto {
    width: 100%;
    margin-top: 10px;
  }
}

.btnSearch {
  border: 2px solid #4f3926;
}

.btnSearch:hover {
  background-color: #302217;
  color: #dcbd81;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  transform: translate(+2px, +2px);
}

.movement {
  margin-left: 40px;
}

.form-control,
.form-select {
  background-color: #dcbd81;
  border-color: #4f3926;
  color: #140e09;
}

.form-control:focus,
.form-select:focus {
  background-color: #dcbd81;
  border-color: #4f3926;
  box-shadow: 0 0 0 3px #4f392640;
}

.form-label {
  color: #140e09;
  font-weight: 500;
}

/* ARTICULO */

.articulo-container {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  padding-top: 120px;
}

.articulo {
  background: #30221764;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  width: 95%;
}

.categoria {
  display: inline-block;
  background: #111;
  color: white;
  padding: 6px 12px;
  border-radius: 30px;
  font-size: 0.8rem;
  margin-bottom: 15px;
}

.titulo {
  font-family: "RoadRaceStamp", sans-serif;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 20px;
  font-weight: bold;
}

.meta {
  display: flex;
  gap: 20px;
  color: #5a4925;
  margin-bottom: 30px;
  border-bottom: 4px solid #4f3926;
  padding-bottom: 15px;
  justify-content: flex-end;
}

#meta {
  color: #111;
}

#bloque-noticia {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

/* IMAGENES */

.imagen-principal {
  width: 100%;
  margin-bottom: 20px;
}

.imagen-principal img {
  border-radius: 10px;
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.imagen-principal figcaption {
  text-align: center;
  color: #777;
  font-size: 0.9rem;
  margin-top: 10px;
}

#description {
  color: #111;
}

.imagen-secundaria {
  float: right;
  width: 45%;
  height: auto;
  margin: 0 0 20px 20px;
}

.imagen-secundaria img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.imagen-secundaria figcaption {
  text-align: center;
  color: #777;
  font-size: 0.9rem;
  margin-top: 10px;
}

#description-2 {
  color: #111;
}

.imagen-terciaria {
  width: 100%;
  margin-top: 20px;
}

.imagen-terciaria img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

/* CONTENIDO */

.contenido {
  margin-top: 40px;
  column-count: 2;
  column-gap: 40px;
  flex: 2;
}

.contenido p {
  font-size: 1.15rem;
  line-height: 1.9;
  margin-bottom: 24px;
}

.contenido h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 2rem;
  column-span: all;
}

.contenido blockquote {
  border-left: 5px solid #333;
  padding-left: 20px;
  margin: 30px 0;
  font-style: italic;
  color: #555;
  font-size: 1.1rem;
}

#subtitulo {
  font-family: "RoadRaceStamp", sans-serif;
  font-weight: bold;
}

.logo-font {
  font-family: "RoadRaceStamp", sans-serif;
}

.apiClima {
  font-size: small;
  color: #302217;
}

/*FUENTES Y TITULOS*/
.font-titulo {
  font-family: "RoadRaceStamp", sans-serif;
}

.font-texto {
  font-family: "Rubik Dirt", system-ui;
}
